#outer_wrapper{
  background:url("outer_bg.png") no-repeat top center;
}
#header_wrapper{
  background:url("header_bg.png") no-repeat 5px 116px;  
}
#footer_wrapper{
	padding:68px 0 30px 0;
  background:url("footer_wrapper_1.png") no-repeat top left;  
}
.widgets{
	background: url('widgets.png') no-repeat ;
}
.banners{
	background: url('banners.png') no-repeat ;
}
#sidebar1  .banner_wrapper .signup {
  width: 178px;
  height:53px;
	background-position:0 0px;
}
#sidebar1  .banner_wrapper .contact {
  width: 178px;
  height:59px;
	background-position:0 -53px;
}
#sidebar1  .banner_wrapper .how_to_buy {
  width: 178px;
  height:61px;
	background-position:0 -112px;
}
#sidebar1  .banner_wrapper .notify_payment {
  width: 178px;
  height:61px;
	background-position:0 -173px;
}
.buttons{
	background: url('buttons.png') no-repeat;
}
.customer{
	background: url('login_area.png') no-repeat top left;
}
.nav-style1{
	background:url('nav-left-bg.png') repeat-y;
}
.nav-style2{
	background:url('nav-left-bg2.png') repeat-y;
}
body{
	color:#f0f0f0;
  background-color:#ae81eb;
}
#footer .copyright a,
#footer .copyright a:hover{
	color:#e6e6e6;
}
a,
#blog .details .toppic a,
.page,
#cart td .name a,
#comments ul {
	color:#777;
}
#footer .nav a{
	color:#e6e6e6;
}
#header .logo_wrapper .site_slogan,
#frontpage .column li a,
#cart_status span{
	color:#fff;
}
#frontpage .column li a:hover,
.cart_status span strong,
#header .logo_wrapper .site_name,
.page2 .toppic,
#footer .nav a:hover,
.page2 .articles{
  color:#ffec9f;
}
.listing th,
#cart .items th{	
	background-color:#e2f2ff;
}
#cart td .name a:hover,
#cart_status a:hover span,
.cart_status a:hover span strong,
#product .padding .details a,
.logged_in ul li a:hover,
#collection .price,
.nav-left li a:hover{
	color:#000;
}
#product .padding .details a:hover,
#product h1 a,
.logged_in ul li a,
#sidebar1 .account,
.nav-left li a,
#collection .padding .title a,
#collection .padding .title a:hover,
#header .nav li a:hover,
.listing td a,
#sidebar1 .account fieldset .button,
#sidebar1 .brand form select{
	color:#777;
}
a:hover,
#collection .topic1 span,
.breadcrumb a:hover,
#collection .subcategory a:hover,
.listing td a:hover,
#create_thread .toppic,
#header .nav li a:hover,
#blog .excerpt a,
#blog .details .toppic a:hover,
#product h1 a:hover,
#cart .items th,
.page .toppic,
.sidebar h2 span,
.listing .title,
.listing .count,
.listing .date{
  color:#c5966f;
}
#header .nav li a {
	color:#847d68;
}
#sidebar1 .account h2 span,
.page2 span a
{
	color:#c5966f;
}
#message{
	border: 1px dotted #e8def8;
}
.column ul li{
  border-bottom:1px dotted #d8c0f8;
}
#footer,
.column ul li small,
#blog .details .author
#article .toppic .author{
	color:#ede7f6;
}

#product .description {
	border-bottom: 1px dotted #e6e5e5;
}
#sidebar1 .nav-left .active a,
#sidebar1 .sidebar li a:hover,
.listing .hover{
	background-color:#f5fbff;
}
#comments .padding .meta{
	background-color:white;
}
.breadcrumb a,
#blog .author,
#article .author {
color:#ccc;
}

/*-----------------------Collection--------------------------*/
#collection .grid li {
  float: left;
  width: 172px;
  height: 290px;
  margin: 0 0 5px 5px;
	background-color:#fff;
}
#collection .image {
	height: 202px;
	overflow: hidden;
	margin:5px;
	display: block;
	background: #fff no-repeat center center;
}
#collection .price {
	float: left;
	font-size: 1em;
	margin: 0.5em 0 0 0;
	padding: 0 0 0 10px;
}
